pandas
numpy
requests
spacy
scispacy
negspacy
transformers
torch
textblob
beautifulsoup4
python-docx
PyMuPDF
reportlab
tqdm
streamlit
plotly
matplotlib
fuzzywuzzy
rapidfuzz
pdfkit
weasyprint
langdetect
pydantic
selenium
pyngrok
